.authSection {
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center;
  height: 100vh;
}
.authSection .outter {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 205%;
  color: #003529;
}
.rows {
  margin-top: 100px;
}
.custom-Link {
  color: #727aa9;
  text-decoration: none;
}
.custom-Link:hover {
  color: #003529;
  text-decoration: none;
}
.FormWarper .form-control:focus {
  border-color: #003529; /* Couleur de la bordure en focus */
  box-shadow: 0 0 0 0.25rem rgba(0, 53, 41, 0.25); /* Ombre en focus */
  background-color: transparent; /* Couleur de fond en focus */
}
