.main {
  margin-top: 20px;
  padding: 30px;
}
.custom-tbody {
  margin-top: 30px;
}
.tred {
  margin-bottom: 20px;
}
thead th {
  color: white;
  background-color: #003529 !important;

  border: none;
  border-right: white solid 1px;
}
tbody th,
tr td {
  color: #003529;
  background-color: white;
  border: 2px solid #003529;
}

.bordering-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bordering-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
#mainContainer {
  height: 100vh;
}

.my-select-menu::part(button) {
  color: white;
  background-color: #f00;
  padding: 5px;
  border-radius: 5px;
}

.my-select-menu::part(listbox) {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid red;
  border-radius: 5px;
}

.flux-table .iconz-left {
  color: #003529;
  margin-left: 30%;
}
.flux-table .iconz-right {
  color: #003529;
  margin-left: 15px;
}

.product-table .iconz-left {
  color: #003529;
  margin-left: 85%;
}
.product-table .iconz-right {
  color: #003529;
  margin-left: 10px;
}
.add-section {
  min-height: 100%;
  border-radius: 10px;
}
.add-section .main {
  margin-top: 20px;
}

/* PRODUCT ADD */

.add-section .main .product {
  display: flex;
}

.add-section .product .left {
  margin-right: 5px;
  padding: 50px 30px 20px 30px;
}

.add-section .product .left input {
  border-radius: 20px;
  height: 60px;
}

.add-section .product .left .row {
  margin-bottom: 40px;
}

.add-section .product .right {
  margin-left: 5px;
  padding: 50px 30px 20px 30px;
}
.add-section .product .right #libelle {
  border-radius: 20px;
}

.add-section .product .right .row {
  margin-bottom: 25px;
}
.add-section .product .right .row .buttonRow {
  padding: 0 50px 0 50px;
}

/* FLUX ADD */

.add-section .main .flux {
  display: flex;
}

.add-section .flux .left {
  margin-right: 5px;
  padding: 50px 30px 20px 30px;
}

.add-section .flux input {
  border-radius: 20px;
  height: 60px;
}

.add-section .flux .left .row {
  margin-bottom: 20px;
}

.add-section .flux .right {
  margin-left: 5px;
  padding: 50px 30px 20px 30px;
}
.add-section .flux .right #libelle {
  border-radius: 20px;
}

.add-section .flux .right .row {
  margin-bottom: 20px;
}
.add-section .flux .right .row .buttonRow {
  padding: 0 50px 0 50px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 300px;
  padding-left: 300px;
}
.mainButton {
  color: white;
  background-color: #003529;
  width: 150px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  height: 70px;
  border-radius: 10px;
}
.flux .button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: -820px;
}
.flux .mainButton {
  color: white;
  background-color: #003529;
  width: 150px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  height: 70px;
  border-radius: 10px;
}
.main .product span {
  color: #006850;
  font-size: 1.5rem;
  font-weight: bolder;
}
.main .flux span {
  color: #006850;
  font-size: 1.5rem;
  font-weight: bolder;
}
.add-section .flux .right .row .mainButton:hover {
  color: #fff;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
.mainButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchContainer {
  padding: 10px 10px 10px 10px;
  display: flex;
}

.searchContainer .filter {
  padding: 19px 10px 10px 10px;
  display: flex;
}
.searchContainer .filter .custom-select {
  margin-right: 10px;
}
.searchContainer .searchBox {
  display: flex;
}

.labeling {
  margin-top: 10px;
  color: white;
  font-size: 1rem;
  user-select: none;
}
.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 400px;
  width: 80%;
}
.pagination .page-link {
  color: #003529; /* Couleur du texte des pages */
}

.pagination .page-item.active .page-link {
  background-color: #003529; /* Couleur de fond de la page active */
}

.pagination .page-item .page-link:hover {
  color: #003529; /* Couleur du texte des pages au survol */
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
  color: white; /* Supprimer la mise en évidence du focus sur le lien */
}

.pagination .page-item.disabled .page-link {
  color: #6c757d; /* Couleur du texte des liens désactivés */
}

.pagination .page-link:focus {
  outline: none; /* Supprimer le contour sur le focus */
}

.pagination .page-link {
  border: none; /* Supprimer la bordure autour du lien */
}